<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Consulting</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./dist/master.css">
  </head>

  <body>
    <div id="root">
      <header>
        <div class="navbar-top">
          <div class="contacts">
            <div class="contacts-left">
              <a href="#"><i class="fas fa-clock"></i>Open Hours: Mon - Sat - 9:00 - 18:00</a>
            </div>
            <div class="contacts-right">
              <ul class="list-inline">
                <li v-for="contact in contacts" v-if="contact.type != 'map-marker-alt'">
                <a :href="contact.url">
                  <i :class="`${contact.family} ${contact.prefix}${contact.type}`"></i>
                  {{contact.text}}
                </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="jumbtron"
        :style="`background-image:url('./dist/img/${jumbtron[currentIndex].img}')`">
        <div class="navbar-bottom">
          <img src="./dist/img/logo.svg" alt="nexgen logo">
          <ul class="list-inline">
            <li v-for="link in navLinks"><a :href="link.url"><i :class="link.icon"
              v-if="link.icon != ''"></i>{{getName(link)}}</a></li>
            </ul>
          </div>
          <div class="overlay">
            <div class="jumbtron-text">
              <h1>{{jumbtron[currentIndex].title}}</h1>
              <p>{{jumbtron[currentIndex].description}}</p>
              <ul class="list-inline">
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">Read more</a></li>
              </ul>
            </div>
            <div class="slider-icons">
              <span v-for="icon in jumbtron.length"
                :class="(icon - 1 == currentIndex) ? 'active' : ''"
                @click="changeJumbo(icon-1)"></span>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section id="video">
          <div class="container">
            <div class="video-text">
              <span class="section-intro">introduction video</span>
              <h1 class="title-style">
                <span>Advisory</span>
                <span>Performance</span>
              </h1>
              <p class="p-font">Financial executives need to review their strategies, operating models and capabilities
                 so that their areas can generate sound information for better decision making.</p>
            </div>
            <div class="video-image">
              <a href="#">
                <i class="fas fa-play"></i>
                <i class="fas fa-play"></i>
                <img src="./dist/img/video-1.jpg" alt="video">
              </a>
            </div>
          </div>
        </section>

        <section id="results" class="py-100">
          <div class="container">
            <div class="results-text">
              <span class="section-intro">what are we doing</span>
              <h1 class="title-style">
                <span>Results</span>
                <span>in Numbers</span>
              </h1>
            </div>
            <div class="stats">
              <div v-for="stat in statsInfo">
                <h1>{{stat.number}}</h1>
                <p class="subtitle">{{stat.name}}</p>
              </div>
            </div>
          </div>
        </section>

        <section id="services" class="py-100">
          <div class="container">
            <div class="services-text">
              <span class="section-intro">our business areas</span>
              <h1 class="title-style">
                <span>Excellence in</span>
                <span>Services</span>
              </h1>
              <div class="description">
                <p class="p-font">We are leaders in providing consultancy services with a set of cutting-edge technologies
                  and a team of experienced and renowned professionals. These are some options that you can hire.</p>
                <a href="#">see all</a>
              </div>
            </div>
            <div class="card-container">
              <div class="card">
                <div class="circle">
                  <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-text">
                  <i class="fas fa-sitemap"></i>
                  <p class="subtitle">Audit &amp; Assurance</p>
                  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-text">
                  <i class="fas fa-briefcase"></i>
                  <p class="subtitle">Financial Advisory</p>
                  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-text">
                  <i class="far fa-chart-bar"></i>
                  <p class="subtitle">Analytics and M&amp;A</p>
                  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-text">
                  <i class="fas fa-plane"></i>
                  <p class="subtitle">Middle Marketing</p>
                  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-text">
                  <i class="fas fa-globe"></i>
                  <p class="subtitle">Legal Consulting</p>
                  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
              <div class="card">
                <div class="circle">
                  <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-text">
                  <i class="fas fa-inbox"></i>
                  <p class="subtitle">Regulatory Risk</p>
                  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section id="team" class="py-100">
          <div class="container">
            <div class="container-left">
              <div class="team-text">
                <span class="section-intro">we like what we do</span>
                <h1 class="title-style">
                  <span>Team</span>
                  <span>of Experts</span>
                </h1>
                <p class="p-font">Ethics and integrity are the bases on which our professionals build their careers.
                They are fundamentals that become daily attitudes.</p>
              </div>
              <div class="team-members">
                <div class="team-member" v-for="expert in experts">
                  <div class="image">
                    <img :src="`./dist/img/${expert.img}`" :alt="expert.name">
                  </div>
                  <div class="member-info">
                    <p class="subtitle">{{expert.name}}</p>
                    <p class="position">{{expert.position}}</p>
                    <ul class="list-inline">
                      <li><a :href="expert.facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a :href="expert.twitter"><i class="fab fa-twitter"></i></a></li>
                      <li><a :href="expert.linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-right">
              <h3>President Speech</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut lacinia diam.</p>
              <p>Vivamus efficitur et est quis posuere. Nulla sollicitudin vulputate dui, id pretium tortor congue eu. Integer aliquet justo eu quam volutpat ullamcorper.</p>
              <p>Duis ut hendrerit mauris. Phasellus faucibus ut enim vel tincidunt. Nunc venenatis a dui et laoreet.</p>
              <h4>T. Johnson<i class="fas fa-quote-right"></i></h4>
            </div>
          </div>
        </section>

        <section id="news" class="py-100">
          <div class="container">
            <div class="news-text">
              <span class="section-intro">our editorial content</span>
              <h1 class="title-style">
                <span>Latest</span>
                <span>News</span>
              </h1>
              <div class="description">
                <p class="p-font">Every week we publish content about what is best in the business world.</p>
                <a href="#">see all</a>
              </div>
            </div>
            <div class="card-container">
              <div class="card" v-for="article in articles">
                <img :src="`./dist/img/${article.img}`" :alt="article.author">
                <div class="card-text">
                  <div class="card-top">
                    <span><i class="far fa-user"></i>{{article.author}}</span>
                    <span><i class="fas fa-clock"></i>{{article.time}}</span>
                  </div>
                  <div class="card-bottom">
                    <p class="subtitle">{{article.title}}</p>
                    <p class="bottom">{{article.about}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="newsletter" class="py-100">
          <div class="container">
            <div class="container-left">
              <div class="newsletter-text">
                <span class="section-intro">newsletter</span>
                <h1 class="title-style">
                  <span>Know</span>
                  <span>First</span>
                </h1>
                <p class="p-font">Follow closely and receive content about our company and the news of the current market.</p>
              </div>
            </div>
            <div class="container-right">
              <input type="text" name="name" placeholder="Name">
              <input type="email" name="email" placeholder="Email">
              <span><a href="#">subscribe</a></span>
            </div>
          </div>
        </section>

        <section id="form" class="py-100">
          <div class="container">
            <div class="form-left">
              <div class="form-text">
                <span class="section-intro">send a message</span>
                <h1 class="title-style">
                  <span>Get in</span>
                  <span>Touch</span>
                </h1>
                <p class="p-font">We will respond to your message as soon as possible.</p>
              </div>
              <form class="" method="post">
                <div>
                  <input class="name" type="text" name="name" placeholder="Name">
                  <input type="email" name="email" placeholder="Email">
                </div>
                <div>
                  <input type="tel" name="phone number" placeholder="Phone">
                  <select name="services">
                    <option selected disabled>More Info</option>
                    <option value="audit">Audit &amp; Assurance</option>
                    <option value="financial">Financial Advisory</option>
                    <option value="analytics">Analytics and M&amp;A</option>
                    <option value="marketing">Middle Marketing</option>
                    <option value="legal">Legal Consulting</option>
                    <option value="risk">Regulatory Risk</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                <textarea name="message" rows="8" placeholder="Message"></textarea>
                <a href="#">send</a>
              </form>
            </div>
            <div class="form-right">
              <p class="subtitle">Example Inc.</p>
              <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="p-font">Praesent diam lacus, dapibus sed imperdiet consectetur.</p>
              <ul>
                <li v-for="contact in contacts.slice(0,3)">
                  <a :href="contact.url">
                    <i :class="`${contact.family} ${contact.prefix}${contact.type}`"></i>
                    {{contact.text}}
                  </a>
                </li>
              </ul>
              <a href="#">view map</a>
            </div>
          </div>
        </section>
      </main>

      <footer>

      </footer>
    </div>



  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./dist/main.js" charset="utf-8"></script>
  </body>
</html>
