.list-inline {
  list-style: none;
  display: flex;
}

.title-style {
  font-size: 32px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;

  @media all and (min-width: $breakpoint-sm) {
    font-size: 42px;
  }
}

.p-font {
  font-size: 14px;
  color: $midGrey;

  @media all and (min-width: $breakpoint-sm) {
    font-size: 16px;
  }
}

.subtitle {
  color: $white;
  font-size: 18px;
  font-weight: bold;
}

.section-intro {
  text-transform: uppercase;
  font-size: 14px;
  color: $darkGreen;
  font-weight: bold;
}

.py-section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media all and (min-width: $breakpoint-sm) {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @media all and (min-width: $breakpoint-md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
