header {
  .navbar-top {
    background-color: $darkGrey;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: all .3s ease-out;

    .contacts {
      @include container-center;
      color: $lightGrey;
      display: none;
      justify-content: space-between;
      font-size: 14px;

      @media all and (min-width: $breakpoint-md) {
        display: flex;
      }

      .contacts-left {
        a {
          @include a-style($lightGrey);
          i {
            margin-right: 5px;
          }

          &:hover {
            color: $darkGreen;
          }
        }
      }

      .contacts-right {
        ul {
          li {
            margin-left: 20px;
            a {
              @include a-style($lightGrey);
              i {
                margin-right: 5px;
              }

              &:hover {
                color: $darkGreen;
              }
            }
          }
        }
      }
    }
  }
}
