#form {
  .container {
    @include container-center;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
    }

    .form-left {
      width: 100%;
      text-align: center;

      @media all and (min-width: $breakpoint-md) {
        width: calc(100% / 3 * 2);
        padding-right: 30px;
        text-align: left;
      }

      .form-text {
        margin-bottom: 40px;
        h1 {
          span:first-child {
            color: $darkGrey;
          }

          span:last-child {
            @include title-bg($darkGreen);
          }
        }
      }

      form {
        & > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        input {
          @include input-style($paleGrey);
          width: calc(50% - 10px);
          &.name {
            background-image: url('./img/input1.png');
            background-repeat: no-repeat;
            background-position: 95%;
          }
        }
        select {
          width: calc(50% - 10px);
          -webkit-appearance: none;
          @include input-style($paleGrey);
          color: #808080;
          background-image: url('./img/chevron-down.svg');
          background-repeat: no-repeat;
          background-position: 95%;
          background-size: 13px;
        }

        textarea {
          @include input-style($paleGrey);
          width: 100%;
          margin-bottom: 40px;
        }

        input[type="submit"] {
          width: 100px;
          @include btn-green;
          cursor: pointer;
          &:hover {
            background-color: $lightGreen;
          }
        }
      }
    }

    .form-right {
      width: 100%;
      margin-top: 30px;

      @media all and (min-width: $breakpoint-md) {
        width: calc(100% / 3 - 20px);
        margin-top: 0;
      }

      p {
        margin-bottom: 20px;
      }
      p.subtitle {
        color: $darkGrey;
      }

      ul {
        list-style: none;
        margin-top: 50px;
        margin-bottom: 30px;
        li {
          margin-bottom: 20px;
          a {
            @include a-style($darkGreen);
            i {
              margin-right: 5px;
              background-color: rgba(65,196,87,0.2);
              padding: 10px;
              border-radius: 50%;
              width: 40px;
              text-align: center;
            }
          }
        }
      }
      & > a {
        @include btn-transparent;
        @include a-style($darkGreen);

        &:hover {
          background-color: $darkGreen;
          color: $white;
        }
      }
    }
  }
}
