#news {
  background-color: $paleGrey;

  .container {
    @include container-center;
    .news-text {
      text-align: center;

      @media all and (min-width: $breakpoint-md) {
        text-align: left;
      }

      h1 {
        span:first-child {
          color: $darkGrey;
        }
        span:last-child {
          @include title-bg($darkGreen);
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (min-width: $breakpoint-md) {
          flex-direction: row;
          justify-content: space-between;
        }

        p {
          margin-bottom: 30px;

          @media all and (min-width: $breakpoint-md) {
            margin-bottom: 0;
          }
        }

        a {
          @include a-style($white);
          @include btn-green;

          &:hover {
            background-color: $lightGreen;
          }
        }
      }
    }

    .card-container {
      display: flex;
      flex-direction: column;

      @media all and (min-width: $breakpoint-sm) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @media all and (min-width: $breakpoint-md) {
        flex-wrap: nowrap;
      }

      .card {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        position: relative;
        margin-top: 40px;

        @media all and (min-width: $breakpoint-sm) {
          width: calc(50% - 20px);
        }

        @media all and (min-width: $breakpoint-md) {
          width: calc(100% / 3 - 20px);
        }

        &:last-child {
          @media all and (min-width: $breakpoint-sm) {
            margin: 40px auto 0;
          }

          @media all and (min-width: $breakpoint-md) {
            margin: 40px 0 0 0;
          }

        }

        img {
          width: 100%;
          transition: all 0.2s linear;
        }

        .card-text {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0,0,0,0.5);
          @include card-pad;
          display: flex;
          flex-direction: column;

          .card-top {
            color: $white;
            font-size: 14px;
            justify-content: space-between;
            display: none;

            i {
              margin-right: 5px;
            }
          }

          a {
            @include a-style($white);
            margin-top: auto;

            .card-bottom {
              text-align: center;
              p.bottom {
                font-size: 14px;
                margin-top: 10px;
                display: none;
              }
            }
          }
        }

        &:hover {
          img {
            transform: scale(1.1);
            filter: blur(2px);
          }
          .card-text {
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(0,0,0,0.7);
            .card-top {
              display: flex;
            }
            .card-bottom {
              p.bottom {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
