#newsletter {
  background-color: $black;

  .container {
    @include container-center;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $breakpoint-sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media all and (min-width: $breakpoint-md) {
      padding: 0 60px;
    }


    .container-left {
      width: 100%;
      text-align: center;

      @media all and (min-width: $breakpoint-sm) {
        width: calc(100% / 2 - 10px);
        text-align: left;
      }

      .newsletter-text {
        h1 {
          color: $white;
          span:first-child {
            @include title-bg($white);
          }
        }
      }
    }

    .container-right {
      width: 100%;
      margin-top: 20px;

      @media all and (min-width: $breakpoint-sm) {
        width: calc(100% / 2 - 10px);
        margin-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          @include input-style($darkGrey);
          margin-top: 20px;
        }

        input:last-child {
          @include a-style($white);
          @include btn-green;
          align-self: center;

          @media all and (min-width: $breakpoint-sm) {
            align-self: flex-start;
          }

          &:hover {
            background-color: $lightGreen;
          }
        }
      }
    }
  }
}
