#news {
  background-color: $lightBlue;

  .container {
    @include container-center;
    .news-text {
      h1 {
        span:first-child {
          color: $darkGrey;
        }
        span:last-child {
          @include title-bg($darkGreen);
        }
      }
      .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          @include a-style($white);
          @include btn-green;

          &:hover {
            background-color: $lightGreen;
          }
        }
      }
    }

    .card-container {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .card {
        width: calc(100% / 3 - 20px);
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        position: relative;

        img {
          width: 100%;
          transition: all 0.2s linear;
        }

        .card-text {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0,0,0,0.5);
          padding: 40px 30px;
          display: flex;

          .card-top {
            color: $white;
            font-size: 14px;
            justify-content: space-between;
            display: none;

            i {
              margin-right: 5px;
            }
          }

          .card-bottom {
            text-align: center;
            align-self: flex-end;
            p.bottom {
              color: $white;
              font-size: 14px;
              margin-top: 10px;
              display: none;
            }
          }
        }

        &:hover {
          img {
            transform: scale(1.1);
            filter: blur(2px);
          }
          .card-text {
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(0,0,0,0.7);
            .card-top {
              display: flex;
            }
            .card-bottom {
              p.bottom {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
