#results {
  background-image: url('./img/bg-traffic.jpg');
  @include bg-image(center);

  .container {
    @include container-center;

    .results-text {
      text-align: center;
      h1 {
        color: $white;
        span:first-child {
          @include title-bg($white);
        }
      }
    }

    .stats {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media all and (min-width: $breakpoint-sm) {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      & > div {
        width: 100%;
        text-align: center;
        margin-top: 30px;

        @media all and (min-width: $breakpoint-sm) {
          width: 50%;
        }

        @media all and (min-width: $breakpoint-md) {
          width: calc(100% / 4);
        }

        h1 {
          color: $darkGreen;
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
