#services {
  background-color: $black;
  .container {
    @include container-center;

    .services-text {
      color: $white;
      & > h1 {
        span:last-child {
          @include title-bg($white);
        }
      }
      .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          width: 85%;
        }
        a {
          @include a-style($white);
          @include btn-transparent;
          &:hover {
            background-color: $darkGreen;
          }
        }
      }
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;

      .card {
        width: calc(100% / 3 - 20px);
        margin-bottom: 20px;
        background-color: $overlay-bg;
        border-radius: 5px;
        padding: 40px 30px;
        cursor: pointer;
        position: relative;

        &:hover {
          position: relative;
          transform: translatey(-10px);

          div.circle {
            background-color: $darkGreen;
            i.fa-arrow-right {
              color:$white;
            }
          }

          .card-text {
            i {
              color: $white;
            }
          }
        }

        div.circle {
          width: 30px;
          height: 30px;
          background-color: transparent;
          border-radius: 50%;
          position: absolute;
          top: 30px;
          right: 30px;

          i.fa-arrow-right {
            @include position-center;
            color: rgba(4,131,131,0.5);
            font-size: 18px;
          }
        }

        .card-text {
          p.subtitle {
            margin: 20px 0;
          }

          i {
            color: $darkGreen;
            font-size: 30px;
          }
        }
      }
    }
  }
}
