#services {
  background-color: $black;
  .container {
    @include container-center;

    .services-text {
      color: $white;
      text-align: center;

      @media all and (min-width: $breakpoint-md) {
        text-align: left;
      }

      & > h1 {
        span:last-child {
          @include title-bg($white);
        }
      }
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (min-width: $breakpoint-md) {
          flex-direction: row;
          justify-content: space-between;
        }

        p {
          width: 85%;
          margin-bottom: 30px;

          @media all and (min-width: $breakpoint-md) {
            margin-bottom: 0;
          }
        }

        a {
          @include a-style($white);
          @include btn-transparent;
          &:hover {
            background-color: $darkGreen;
          }
        }
      }
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;

      .card {
        width: 100%;
        margin-bottom: 20px;
        background-color: $overlay-bg;
        border-radius: 5px;
        @include card-pad;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;

        @media all and (min-width: $breakpoint-sm) {
          width: calc(50% - 20px);
        }

        @media all and (min-width: $breakpoint-md) {
          width: calc(100% / 3 - 20px);
        }


        &:hover {
          position: relative;
          transform: translatey(-10px);

          div.circle {
            background-color: $darkGreen;
            i.fa-arrow-right {
              color:$white;
            }
          }

          .card-text {
            i {
              color: $white;
            }
          }
        }

        div.circle {
          width: 30px;
          height: 30px;
          background-color: transparent;
          border-radius: 50%;
          position: absolute;
          top: 30px;
          right: 30px;

          i.fa-arrow-right {
            @include position-center;
            color: rgba(65,196,87,0.5);
            font-size: 18px;
          }
        }

        .card-text {
          p.subtitle {
            margin: 20px 0;
          }

          i {
            color: $darkGreen;
            font-size: 30px;
          }
        }
      }
    }
  }
}
