#team {
  .container {
    @include container-center;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
    }


    .container-left {
      width: 100%;

      @media all and (min-width: $breakpoint-md) {
        width: calc(100% / 3 * 2);
      }

      .team-text {
        text-align: center;

        @media all and (min-width: $breakpoint-md) {
          text-align: left;
        }

        h1 {
          span:first-child {
            @include title-bg($darkGreen);
          }
          span:last-child {
            color: $darkGrey;
          }
        }
      }

      .team-container {
        display: flex;
        flex-direction: column;

        @media all and (min-width: $breakpoint-sm) {
          flex-direction: row;
          justify-content: space-between;
        }

        .team-members {
          display: flex;
          flex-direction: column;
          width: 100%;

          @media all and (min-width: $breakpoint-sm) {
            width: calc(50% - 10px);
          }

          .team-member {
            display: flex;
            margin-top: 40px;

            .image {
              img {
                border-radius: 5px;
                width: 110px;
              }
            }

            .member-info {
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              p.subtitle {
                color: $darkGrey;
              }
              p.position {
                text-transform: uppercase;
                color: $lightGrey;
                font-size: 14px;
                font-weight: 500;
              }
              ul {
                li {
                  margin-right: 5px;
                  background-color: rgba(65,196,87,0.2);
                  padding: 8px;
                  border-radius: 50%;
                  width: 35px;
                  @include display-center;


                  a {
                    @include a-style($darkGreen);
                    display: flex;
                  }

                  &:hover {
                    background-color: $darkGreen;
                    a {
                      color: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .container-right {
      width: 100%;
      background-color: $darkGreen;
      padding: 30px 20px;
      border-radius: 5px;
      margin-top: 30px;

      @media all and (min-width: $breakpoint-md) {
        width: calc(100% / 3 - 20px);
        margin-top: 0;
      }

      h3 {
        color: $white;
      }
      p {
        margin: 20px 0;
        color: rgba(255,255,255,0.8);
      }
      h4 {
        color: rgba(255,255,255,0.8);
        display: flex;
        justify-content: space-between;
        i {
          font-size: 24px;
          color: rgba(0,0,0,0.3);
        }
      }
    }
  }
}
