// COLORS
$darkGrey: #1d2528;
$lightGrey:#bcbdbd;
$midGrey: #626165;
$white: #ffffff;
$darkGreen: #41C457;
$lightGreen: #5DE874;
$overlay-bg: #111117;
$paleGrey: #e7eee9;
$black: #000000;

// RESPONSIVE
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
