#video {
  .container {
    @include container-center;
    padding: 100px;

    .video-text {
      text-align: center;

      & > h1 {
        span:first-child {
          color: $darkGrey;
        }
        span:last-child {
          @include title-bg ($darkGreen);
        }
      }
    }

    .video-image {
      margin-top: 50px;

      a {
        background-color: $darkGreen;
        display: flex;
        font-size: 70px;
        @include a-style($white);
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        &:hover {
          i:first-child {
            opacity: 1;
          }
          i:nth-child(2) {
            opacity: 1;
          }
          img {
            filter: opacity(0.7);
          }
        }

        i:first-child {
          position: absolute;
          top: calc(50% - 8px);
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 1;
          color: $darkGreen;
          opacity: 0.8;
        }

        i:nth-child(2) {
          @include position-center;
          opacity: 0.8;
          z-index: 1;
        }

        img {
          filter: opacity(0.8);
          width: 100%;
        }
      }
    }
  }
}
